/* Fare media Query per
TABLET-->768px
MOBILE-->480px
*/

/* TABLET */
@media screen and (max-width: 768px){

    .menu-col {
        width: 10%;
    }

    .chat-col {
        width: 90%;
    }

    .alert,
    .search {
        display: none;
    }

    .user {
        justify-content: center;
    }

    .contacts {
        height: 100%;
        padding-top: 43rem;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .hidden {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .user-icon {
        display: none;
    }
}


/* MOBILE */
@media screen and (max-width: 480px) {
    
    .menu-col {
        display: none;
    }

    .chat-col {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .user-icon {
        display: none;
    }


}