/* Fare media Query per
TABLET-->768px
MOBILE-->480px
*/

/* TABLET */
@media screen and (max-width: 768px){

    .menu-col {
        width: 10%;
        min-width: 64px;
    }

    .chat-col {
        width: 90%;
    }

    .alert,
    .search {
        display: none;
    }

    .user {
        justify-content: center;
    }

    .contacts {
        height: 100%;
        padding-top: 0;
        align-items: center;
        justify-content: flex-start;
        /* gap: 0.5rem; */
    }

    .hidden {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .user-icon {
        display: none;
    }

    .message-sent {
        width: 70%; 
        left: 25%;
        padding: 20px;
    }

    .message-received {
        width: 70%;
    }
}


/* MOBILE */
@media screen and (max-width: 480px) {
    
    .menu-col {
        display: none;
    }

    .chat-col {
        width: 100%;
    }

    .hidden,
    .search-bar,
    .user-icon,
    .icon-chat {
        display: none;
    }


    .message-sent {
        width: 60%; 
        left: 35%; 
        padding: 20px; 
    }

    .message-received {
        width: 60%; 
        left: 5%; 
        padding: 20px; 
    }

}