/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

figure img {
    width: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

hr {
    border: 1px solid #f2f2f2;
    width: 100%;
}

/* UTILITY */
.flex {
    display: flex;
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.bg-blue {
    background-color: lightblue;
    width: 50%;
}
/* /UTILITY */

/* MAIN SECTION */

/* debug */
body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* debug */
    padding: 0;
    height: 90vh; 
    background: linear-gradient(to bottom, #239689 30%, #dcdad4 30%, #dcdad4 100%);
}
/* /debug */

.container-chat {
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    /* debug */
    /* border: 2px dashed black; */
}

.menu-col  {
    width: 30%;
    /* debug */
    height: 100%;
}

.chat-col {
    width: 70%;
    /* debug */
    height: 100%;
}
/* /MAIN SECTION */

/* COLUMN SX */
/* User Section */
.user {
    height: 10%;
    align-items: center;
    /* debug */
    background-color: #eaeaea;
}
/* /User Section */

/* Alert Section */
.alert {
    height: 12%;
    /* debug */
    background-color: blue;
}
/* /Alert Section*/

/* Search Section */
.search {
    height: 8%;
    /* debug */
    background-color: violet;
}
/* /Search Section */

/* Contacts Section */
.contacts {
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .5rem;
    overflow-y: scroll;
    max-height: 90%;
    /* debug */
    background-color: white;
}
/* /Contacts Section */
/* /COLUMN SX */

/* COLUMN DX */
/* Chat User */
.chat-user {
    height: 10%;
    /* debug */
    background-color: lightcoral;
}
/* /Chat User */

/* Chat */
.chat {
    height: 80%;
    /* debug */
    background-color: lightyellow;
}
/* /Chat */

/* Write */
.write-message {
    height: 10%;
    /* debug */
    background-color: coral;
}
/* Write */
/* /COLUMN DX */