/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITY */
.flex {
    display: flex;
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.bg-blue {
    background-color: lightblue;
    width: 50%;
}
/* /UTILITY */

/* MAIN SECTION */
.container {
    width: 80%;
    justify-content: space-around;
    align-items: center;
    /* debug */
    height: 1100px;
}

.menu-col  {
    width: 50%;
    /* debug */
    height: 1000px;
}

.chat-col {
    width: 50%;
    /* debug */
    height: 1000px;
}
/* /MAIN SECTION */