/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITY */
.flex {
    display: flex;
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.bg-blue {
    background-color: lightblue;
    width: 50%;
}
/* /UTILITY */

/* MAIN SECTION */

/* debug */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
/* /debug */

.container {
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    /* debug */
    height: 90vh;
    border: 4px solid #79ff03;
}

.menu-col  {
    width: 30%;
    /* debug */
    height: 100%;
}

.chat-col {
    width: 70%;
    /* debug */
    height: 100%;
}
/* /MAIN SECTION */

/* COLUMN SX */
/* USER SECTION */
.user {
    height: 10%;
    /* debug */
    border: 2px solid black;
}
/* /USER SECTION */

/* ALERT SECTION */
.alert {
    height: 12%;
    /* debug */
    border: 2px solid white;
}
/* /ALERT SECTION */

/* SEARCH SECTION */
.search {
    height: 8%;
    /* debug */
    border: 2px solid black;
}
/* /SEARCH SECTION */
/* CONTACTS SECTION */
.contacts {
    height: 70%;
    /* debug */
    border: 5px dashed blue;
}
/* /CONATCTS SECTION */
/* /COLUMN SX */

/* COLUMN DX */

/* /COLUMN DX */